version: "3.9"

services:
  api:
    build: .
    container_name: api_proteccion
    restart: always
    env_file:
      - .env
    ports:
      - "3002:3002"
    volumes:
      # Persistencia de uploads
      - /api/uploads:/app/uploads
      - /api/files:/app/files
